---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import rampaImg from '~/assets/images/rampa.jpg';
import rampaNigthImg from '~/assets/images/rampa_noche.jpg'
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import GetFormForm from '~/components/forms/getformForm.astro';

const metadata = {
  title: 'Bienvenido',
};

const whatsAppUrl = 'https://wa.me/522221275134?text=Hola%20Estaba%20en%20tu%20sitio%20y%20quiero%20información%20sobre%20el%20infblable.'
---

<Layout metadata={metadata}>
  
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Inflables Orca"
    title="¡Rentame para tus fiestas!"
    subtitle="Renta este divertido inflable de 6m x 4m a tan solo $850.00 MXN."
    actions={[
      { variant: 'primary', text: 'Contáctanos', href: whatsAppUrl, icon: 'tabler:brand-whatsapp', target: '_blank' },
      // { text: 'Facebook', href: 'https://www.facebook.com/profile.php?id=61569751381424', icon: 'tabler:brand-facebook', target: '_blank' },
    ]}
    image={{
      src: rampaImg,
      alt: 'Inflable Rampa',
    }}
  />
  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Aparta con $200.00 MXN',
        description:
          'Contáctanos por whatsapp para verificar disponibilidad y aparta tu fecha con solo $200.00 MXN',
      },
      {
        title: 'Horarios de renta flexibles',
        description:
          'Entendemos que todos los eventos son diferentres. No te preocupes por el horario, nos adaptamos a tus necesidades.',
      },
      {
        title: 'En la puerta de tu hogar',
        description:
          'Contamos con servicio en la ciudad de Puebla y Cholula.',
      },
      {
        title: 'Limpio y desinfectado',
        description: `Por la higiene sientete seguro te entregamos el inflable limpio y desinfectado.`,
      },
    ]}
    image={{
      src: rampaNigthImg,
      alt: 'Inflable rampa de noche',
    }}
  >
    <Fragment slot="content">Solo aparta y nos hacemos cargo del resto</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    title="Para rentar el inflable sigue los siguientes pasos."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Contáctanos</span>',
        description:
          "Mandanos mensaje por whatsapp o dejanos tu contacto y fecha de interes y nos pondremos en contacto con tigo.",
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Paso 2: <span class="font-medium">Verifica disponibilidad</span>',
        description:
          "Confirma la disponibilidad para el día de tu fiesta.",
        icon: 'tabler:calendar-check',
      },
      {
        title: 'Paso 3: <span class="font-medium">Aparta la fecha</span>',
        description:
          'Tenemos pago con efectivo, y transferencia. Elije la que mejor te acomode',
        icon: 'tabler:paywall',
      },
      {
        title: 'Todo listo para tu fiesta!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: rampaImg,
      alt: 'Steps image',
    }}
  />
  
  <GetFormForm/>

</Layout>
